*


{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Roboto';
    color: #7e7979;
}

.content {
    text-justify:center;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: -13%;
}

h1 {
    text-justify:center;
    padding-left: 180px;
    font-size:200%;
    color: #08113a;
}

u, b {
    color: #797979;
}

#logoHeader {
    width: 3.4%;
    padding-top: 1.2%;
}
#logoBottom {
    width: 30%;
    padding-top:450px;
    padding-right: 210px;
    float: right;
}

#imgRobot {
    width: 100%;
}

#unifoa_icon
{
    padding-top: 3.5%;
    float: right;
    width: 10%;
}

#blogBox {
    text-align: center;
    position: absolute;
    width: 4%;
    margin-left: 48%;
    margin-top: -38.5%;
    color: rgb(228, 217, 217);
    font-size: 90%;
    font-family: 'Roboto Light';
    border: 2px solid #7e7979;
    padding: 2px;
  }

.top, .menu {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    font-family: 'Roboto Light';
    z-index: 999;
}

::selection {
    color: #b1595a;
    background: #08113a;
  }

#title {
    text-align: center;
    position: absolute;
    margin: auto;
    width:100%;
    margin-top: -35%;
    color: white;
    font-size: 320%;
    font-family: 'Roboto Medium';
}

li {
    display:inline-block;
    transition-duration: 0.5s
}

li a {
    display:block;
    height: 50px;
    line-height: 50px;
    color: #08113a;
    text-align: center;
    text-decoration: none;
    min-width:120px;
}

li a:hover{
    color: #b1595a;
}

.bottom{
    width: 100%;
    padding-bottom: 30px 0;
    margin-bottom: 10%;
    margin-top: 4%;
}

.icon {
    width:400px;
    padding-left:200px;
    display: inline-block;
}

.contato
{
    padding-top: 190px;
    padding-left: 35px;
    display: inline-block;
    text-align: left;
}


h4 {
    font-size:120%;
}

.bottomBorder {
    border-top: solid 1px #ccc;
    width: 73%;
    margin: auto;
    padding-bottom: -40%;
}

.copyright{
    background-color: #08113a;
    width: 100%;
    text-align: left;
    border-top: solid 1px #ccc;
    padding: 30px 50px;
    color: white;
    font-family: 'Roboto Thin';
}
